
# ---------- Публичный URL ----------
CORS_ALLOWED_ORIGINS=http://komsync.ru,http://www.komsync.ru
PASSWORD_RESET_FRONTEND_BASE_URL=http://komsync.ru

POSTGRES_PORT=5432
POSTGRES_DB=komSync
POSTGRES_USER=komsync
POSTGRES_PASSWORD=komsync

# ---------- ASP.NET ----------
ASPNETCORE_ENVIRONMENT=Production
JWT_SECRET=SUPER_SECRET_KEY_KOM_SYNC_ZATWAY_2026

# ---------- SMTP ----------
SMTP_ENABLED=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_SSL=true
SMTP_USERNAME=arslanbekovr7@gmail.com
SMTP_PASSWORD=lyrspwhiysesigse
SMTP_FROM_EMAIL=arslanbekovr7@gmail.com
SMTP_FROM_NAME=komSync
SMTP_TIMEOUT_SECONDS=20

# ---------- Seed admin (один раз при первом деплое) ----------
SEED_ADMIN_ENABLED=false
SEED_ADMIN_EMAIL=admin@komsync.local
SEED_ADMIN_PASSWORD=Admin123!
SEED_ADMIN_FULLNAME=System Admin
SEED_ADMIN_DEPARTMENT=Admin
SEED_ADMIN_POSITION=Admin
